<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
    <script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
    <title>Home</title>
  </head>
  <body>
    <h1>!!! Hello Moto</h1>
    <a href="/">Logout Mudda Fugga!!</a>
    {{errorMsg}}
    <form class="addSnippets" action="/home/" method="post">
      <fieldset class="alert alert-secondary">
        <legend><button id="hideyButton" type="button" name="fieldset">Click Here to Add a Snippet</button></legend>
        <div id="snippetsField" style="display: none" class="alert alert-success">
          <p>
            <label for="title">Title:</label>
            <input type="text" name="title" value="">
          </p>
          <p>
            <label for="code">Code:</label>
            <textarea name="code" rows="8" cols="80"></textarea>
          </p>
          <p>
            <label for="notes">Notes:</label>
            <input type="text" name="notes" value="">
          </p>
          <p>
            <label for="language">Language:</label>
            <input type="text" name="language" value="">
          </p>
          <p>
            <label for="tags">Tags:</label>
            <input type="text" name="tags" value="">
          </p>
          <p>
            <button type="submit" name="button">Push Snippet</button>
          </p>
        </div>
      </fieldset>
    </form>

    {{#snippets}}
    <a href="/snippets/{{title}}">{{title}}</a>
    {{/snippets}}

    <script type="text/javascript" src="/public/behaviors.js"></script>
  </body>
</html>
