<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
    <script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
    <title>Home</title>
  </head>
  <body>
    <h1>!!! Hello Moto</h1>
    <form class="addSnippets" action="/home/" method="post">
      <fieldset>
        <legend>Add Snippets</legend>
        <p>
          <label for="title">Title:</label>
          <input type="text" name="title" value="">
        </p>
        <p>
          <label for="code">Code:</label>
          <input type="text" name="code" value="">
        </p>
        <p>
          <label for="notes">Notes:</label>
          <input type="text" name="notes" value="">
        </p>
        <p>
          <label for="language">Language:</label>
          <input type="text" name="language" value="">
        </p>
        <p>
          <label for="tags">Tags:</label>
          <input type="text" name="tags" value="">
        </p>
      </fieldset>
    </form>
  </body>
</html>
