<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
    <script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
    <title>Index</title>
  </head>
  <body>
    <h1>!!! Change Index Title</h1>
    {{#errorMsg}}
      <div class="alert alert-warning">
      <h3>{{errorMsg}}</h3>
      </div>
    {{/errorMsg}}

    <form class="login" action="/" method="post">
      <fieldset class="alert alert-success">
        <legend>Login</legend>
        <p>
          <label for="username">Username:</label>
          <input type="text" name="username" value="" autofocus>
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="password" name="password" value="" >
        </p>
        <p>
          <button type="submit" name="loginButton">Login</button>
        </p>
      </fieldset>
    </form>
    <a href="/registration/">Sign up!</a>
  </body>
</html>
