<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>!!! Change Index Title</h1>
    <form class="login" action="/" method="post">
      <fieldset>
        <legend>Login</legend>
        <label for="userId">User ID:</label>
        <input type="text" name="userId" value="" autofocus>
        <label for="password">Password:</label>
        <input type="text" name="password" value="">
      </fieldset>
    </form>
  </body>
</html>
